/* style.css */
body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  overflow: auto;
  height: auto;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.pdf-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pdf-gallery a {
  text-decoration: none;
  color: inherit;
}


/* .pdf-gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
} */

/* .pdf-gallery p {
  text-align: center;
  margin-top: 5px;
}  */

.gallery-horizontal {
  width: 100%;
  /* Full width of the container */
  aspect-ratio: 100 / 65;
  /* Width to height ratio */
  overflow: hidden;
}

.gallery-horizontal img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ensures the image covers the area */
}

.gallery-vertical {
  width: 100%;
  /* Full width of the container */
  /* aspect-ratio: 3 / 2; */
  /* Width to height ratio */
  overflow: hidden;
}

.gallery-vertical img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ensures the image covers the area */
}


.research-project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project-description {
  flex: 1 1 auto;
  padding-right: 20px;
  max-width: 50%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* Vertically centers content */

}

.project-image {
  /* flex: 1 1 auto; */
  max-width: 50%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  /* Maximum width constraint for large screens */
  /* text-align: right; */
}

.project-image img {
  max-width: 50%;
  /* Ensures the image is responsive */
  height: auto;
}

.caption {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-size: 0.8em;
  padding: 1px;
  text-align: center;
}


.project-image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  flex: 1;
}

.project-image-gallery img {
  width: 100%;
  /* Adjust width as necessary */
  height: auto;
  display: block;
  /* Ensures the image takes the full width of its container */
  margin: 0 auto;
  /* Centers the image if it's smaller than its container */
}




.spacer {
  height: 10px;
  /* The space you want to create */
}


/* Style for the LinkedIn icon */
.fab.fa-linkedin {
  font-size: 24px;
  /* Adjust the icon size as needed */
  margin-left: 10px;
  /* Add space between the text and icon */
  color: #fff;
}
